.searchButton{
    background-color: rgb(5, 162, 235);
    width: 100%;
    text-align: center;
}
.buttonText{
    margin: auto;
    left: -5px;
    position: relative;
}

.autoMargin{
    left: 35px;
}

.searchIcon{
    color: #FFFFFF;
}

.searchText{
    color: #FFFFFF;
    padding-left: 10px;
}

.input-group{
    width: inherit;
}

.input-group>.form-control{
    display: inline-block;
    width: inherit;
}