.react-datepicker-wrapper{
    width: inherit;
}

.react-datepicker__input-container{
    width: inherit;
}

.datepickerClass{
    min-height: 38px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-left: 15px;
    width: inherit;
}